!!!
%html(lang="da")
  -set mytype = 'blog'
  -include 'header.haml' with {'type': mytype}
  %body
    .wrapper-for-content-outside-of-footer
      -include 'mainmenu.haml' with {'type': mytype}
      %main#main(itemscope itemtype="http://schema.org/BlogPosting")
        %article.item
          %h1.ui.header(itemprop="name")
            %span(itemprop="headline") = current_page.meta.title
          .quiet-header.post-description(itemprop="description")
            =current_page.meta.description
          %hr.thin
          .quiet.post-created
            %time(itemprop="dateCreated"
              datetime="#{current_page.meta.datetime}")
              =date(current_page.meta.date)|strftime('%d. %B, %Y')
            %span.right
              -if current_page.meta.tags != ''
                %i.fi-price-tag
                -for tag in current_page.meta.tags_array
                  %a(href="#{base_url}/tag/#{tag}" rel="tag")
                    =tag
          %br
          %meta(itemprop="image"
            content="#{base_url}/content/images/#{current_page.meta.ogimage}")
          .post-content(itemprop="articleBody")
            =content
          %time(itemprop="datePublished"
            datetime="#{current_page.meta.datetime}")
        .ui.horizontal.divider
          %i.fi-heart
        .item-title Kommentarer
        %p.comment-instructions Hvis du hellere vil kommentere anonymt, så klik på 'Navn' feltet og sæt et flueben i “I’d rather post as a guest” (Jeg vil hellere kommentere som gæst) længst nede, under formularen.
        #disqus_thread
      -if current_page.meta.disqusid
        / include Disqus code
        -include "disqus.haml"
    / Common includes
    -include 'footer.haml' with {'type': mytype}
    -include 'scripts.haml'
    -include 'ga_track.haml'
